﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Product2.aspx.cs" Inherits="lab1_2_2.Product2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Motors</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
             <div>
            <img src="~/Content/img/2.jpg" runat="server" alt="Alternate Text" />
            <span>Specificationss</span>
            <ul>
                <li>Name - Lights</li>
                <li>Price - 100</li>
                <li>Currency - TUG</li>
                <li>Range - 100m </li>
                <li>Producer - SomeBody</li>
            </ul>
        </div>
        </div>
    </form>
</body>
</html>
