﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CustomValidator.aspx.cs" Inherits="lab3.CustomValidator" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
         <div>
             <asp:TextBox runat="server" ID="textBox1" />
             <asp:CustomValidator ErrorMessage="Input less then 10 symbols" ControlToValidate="textBox1" runat="server" OnServerValidate="Unnamed1_ServerValidate" />
            <asp:Button Text="text" runat="server" ID="button1" />
        </div>
    </form>
</body>
</html>
