﻿<%@ Page Title="About" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="Lab1.About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %>.</h2>
    <h3>Your application description page.</h3>
    <p>Use this area to provide additional information.</p>
    <asp:Button ID="Button1" runat="server" Text="Имя" PostBackUrl="~/FirstName.aspx"/>
<asp:Button ID="Button2" runat="server" Text="Фамилия" PostBackUrl="~/LastName.aspx"/>
    </asp:Content>
