﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="LastName.aspx.cs" Inherits="Lab1.WebForm2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <h1>Барков</h1>
    <h1>Чендров</h1>
</asp:Content>
